@model List<CustomerAccountProcess>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Son İşlemlerim</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>TL İşlemlerim</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <ul class="list-unstyled timeline">
                        @foreach(var item in Model)
                        {
                            <li>
                                <div class="block">
                                    <div class="tags">
                                        <a href="" class="tag">
                                            <span>@item.ProcessType</span>
                                        </a>
                                    </div>
                                    <div class="block_content">
                                        <h2 class="title">
                                            <a>Gönderen: @item.SenderID --- Alıcı: @item.ReceiverID</a>
                                        </h2>
                                        <div class="byline">
                                            <span>@item.ProcessDate</span>
                                        </div>
                                        <p class="excerpt">
                                            @item.Description
                                        </p>
                                    </div>
                                </div>
                            </li>
                        }


                    </ul>

                </div>
            </div>
        </div>
    
    </div>
</div>

